/* Ensure the body has full height and removes default margins */
body {
    margin: 0;
    height: 100vh;
  }
  
  /* Container for the header and image */
  .header-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full viewport height */
    padding: 0;
    position: relative;      /* Allows absolute positioning inside */
  }
  
  /* Image container */
  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;           /* Add padding around the image */
  }
  
  /* The background image */
  .background-image {
    width: 100%;
    height: auto;
    object-fit: cover;       /* Ensures the image covers the entire area */
    /* border-radius: 8px; */
    box-shadow: none;
  }
  
  /* The header text */
  .header-text {
    position: absolute;
    left: 3rem;
    right: 20px;           /* Float header to the right */
    top: 10%;              /* Vertically center */
    transform: translateY(-50%);  /* Adjust position to truly center */
    /* color: white;
    font-size: 2.5rem; */
    font-family: forum, Garamond, serif;
    font-size: 3rem;
    font-weight: 100;
    /* font-weight: lighter; */
    letter-spacing: .15rem; 
    color: #333;
    /* text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);  */
    z-index: 10;           /* Make sure the header is above the image */
  }
  